.popular-researches-home {
  font-family: "Poppins", sans-serif;
  background-color: white;
  max-width: 100%;
  padding: 0 6rem;
  max-width: 100%;
}

.popular-researches-home h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.344rem;
  font-weight: 500;
  line-height: 2.906em;
  letter-spacing: -0.02325rem;
  color: rgba(18, 18, 18, 1);
  margin-top: 0;
  margin-bottom: 5.25rem;
}

.popular-researches-home-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  align-items: stretch;
}

.popular-researches-home-card {
  flex-basis: 50%;
  display: flex;
  height: 18.75rem;
}

.popular-researches-home-card-inner {
  margin-right: 1.5rem;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  margin-bottom: 2.25rem;
  gap: 1.875rem;
  border-radius: 0 0 10.781rem 10.781rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0.1875rem 0.281rem 0.094rem rgba(16, 24, 40, 0.03);
  box-shadow: 0.5625rem 0.75rem -0.1875rem rgba(16, 24, 40, 0.08);
}

.popular-researches-home-card-inner img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 10.781rem;
}

.popular-researches-home-card-info {
  padding: 1.5rem 0.75rem 2.25rem 0.75rem;
}

.popular-researches-home-card-info a {
  text-decoration: none;
}

.popular-researches-home-card-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgba(15, 41, 74, 1);
  margin-bottom: 5.4rem;
}

.popular-researches-home-card-info p {
  font-family: "Poppins", sans-serif;
  font-size: 0.656rem;
  font-weight: 500;
  line-height: 0.9375rem;
  color: rgba(232, 123, 34, 1);
  text-decoration: underline;
}

@media screen and (min-width: 1920px) {
  .popular-researches-home {
    padding: 0 8rem;
  }

  .popular-researches-home h1 {
    font-size: 3.125rem;
    line-height: 3.875rem;
    letter-spacing: -0.031rem;
    margin-bottom: 7rem;
  }

  .popular-researches-home-cards {
    margin-right: -2rem;
  }

  .popular-researches-home-card {
    height: 25rem;
  }

  .popular-researches-home-card-inner {
    margin-right: 2rem;
    margin-bottom: 3rem;
    gap: 2.5rem;
    border-radius: 0 0 14.375rem 14.375rem;
    box-shadow: 0 0.1875rem 0.281rem 0.094rem rgba(16, 24, 40, 0.03);
    box-shadow: 0 0.5625rem 0.75rem -0.1875rem rgba(16, 24, 40, 0.08);
  }

  .popular-researches-home-card-inner img {
    border-radius: 0 0 0 14.375rem;
  }

  .popular-researches-home-card-info {
    padding: 2rem 1rem 3rem 1rem;
  }

  .popular-researches-home-card-info h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 7.2rem;
  }

  .popular-researches-home-card-info p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
