@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  /* background-color: rgba(255, 255, 255, 0.8);
  background-image: radial-gradient(gray 5%, transparent 10%);
  background-size: 25px 25px;
  background-repeat: repeat; */
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

#root {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-on-scroll {
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease-out; /* Smooth fade-in */
}

.animate-on-scroll.animate {
  animation: slideInFromBottom 1s ease-out forwards;
}
