.benefits-home {
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 10.5rem 6rem 7.5rem 6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 8.25rem;
  max-width: 100%;
}

@keyframes slideAndReturnFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(2rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.benefits-home-events {
  display: flex;
  flex-direction: column;
  width: 55%;
  animation: slideAndReturnFromLeft 2s ease-out forwards;
}

.benefits-home-event {
  display: flex;
  align-items: baseline;
  border-bottom: 0.024rem solid rgba(0, 0, 0, 0.4);
  padding-bottom: 2.25rem;
}

.benefits-home-event p {
  font-family: "Poppins", sans-serif;
  font-size: 1.172rem;
  font-weight: 600;
  line-height: 1.641rem;
  color: rgba(33, 56, 62, 0.34);
  margin: 0 5.25rem 0 0;
}

.benefits-home-event-p2 a {
  text-decoration: none;
}

.benefits-home-event-p2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 3.281rem;
  letter-spacing: 0.039rem;
  color: rgba(15, 41, 74, 1);
  margin: 0 0 0.75rem 0;
}

.benefits-home-event-p2 p {
  font-family: "Poppins", sans-serif;
  font-size: 0.656rem;
  font-weight: 400;
  line-height: 1.078rem;
  letter-spacing: 0.039rem;
  color: rgba(33, 56, 62, 0.5);
  text-decoration: underline;
}

@keyframes slideAndReturn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-2rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.benefits-home-info {
  width: 30%;
  animation: slideAndReturn 2s ease-out forwards;
}

.benefits-home-info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.344rem;
  font-weight: 500;
  line-height: 2.906rem;
  letter-spacing: -0.0232rem;
  color: rgba(15, 41, 74, 1);
  margin-bottom: 2.25rem;
}

.benefits-home-info p {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.219rem;
  letter-spacing: 0.0165rem;
  color: rgba(33, 56, 62, 1);
}

@media screen and (min-width: 1920px) {
  .benefits-home {
    padding: 14rem 8rem 10rem 8rem;
  }

  .benefits-home-event {
    border-bottom: 0.03125rem solid rgba(0, 0, 0, 0.4);
    padding-bottom: 3rem;
  }

  .benefits-home-event p {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    margin: 0 7rem 0 0;
  }

  .benefits-home-event-p2 h1 {
    font-size: 2.5rem;
    line-height: 4.375rem;
    letter-spacing: 0.052rem;
    margin: 0 0 1rem 0;
  }

  .benefits-home-event-p2 p {
    font-size: 0.875rem;
    line-height: 1.4375rem;
    letter-spacing: 0.031rem;
  }

  .benefits-home-info h1 {
    font-size: 3.125rem;
    line-height: 3.875rem;
    letter-spacing: -0.031rem;
    margin-bottom: 3rem;
  }

  .benefits-home-info p {
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.022rem;
  }
}
